{% extends '../base/masterpage.html' %}
{% load i18n %}


{% block head %}

{% endblock %}

{% block body %}


<h1>{{protein.accession}}</h1>
<table class="table table-striped">

    <tbody>
    <tr>
        <td>{% trans 'Proteína' %}</td>
        <td>{{ protein.description }}</td>
    </tr>
    <tr>
        <td>{% trans 'Gen' %}</td>
        <td>{{ protein.gene }}</td>
    </tr>
    <tr>
        <td>{% trans 'Amino acids' %}</td>
        <td>{{ protein.size }}</td>
    </tr>
    <tr>
        <td>{% trans 'Estado' %}</td>
        <td>{{ protein.status }}</td>
    </tr>

    <tr>
        <td>{% trans 'Ensamblado' %}</td>
        <td><a href="{% url 'sndgwebapp:assembly' protein.assembly_id %}">{{ protein.assembly_name }}</a></td>
    </tr>
    </tbody>
</table>


<div class="input-group">
    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
        <option selected>{% trans 'elegir ...' %}</option>
        <option value="2">{% trans 'Fasta nt' %}</option>
        <option value="2">{% trans 'Fasta aa' %}</option>
        <option value="3">{% trans 'GFF' %}</option>

    </select>
    <button class="btn btn-outline-secondary" type="button">{% trans 'Descargar' %}</button>
</div>


<hr class="col-3 col-md-2 mb-5"/>

<h2>{% trans 'Anotaciones generales' %}</h2>
{% if annotations %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col"> {% trans 'DB' %}</th>
        <th scope="col"> {% trans 'Familia' %}</th>
        <th scope="col"> {% trans 'Término' %}</th>
        <th scope="col"> {% trans 'Nombre' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for annotation in annotations %}
    <tr>
        <td>{{annotation.db}}</td>
        <td>{{annotation.fam}}</td>
        <td>{{annotation.term}}</td>
        <td>{{annotation.name}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}

{% trans 'No se cuenta con esta información' %}

{% endif %}

<hr class="col-3 col-md-2 mb-5"/>

<h2>{% trans 'Anotaciones sobre secuencia' %}</h2>

{% if features %}

<div id="div2"></div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col"> {% trans 'Inicio' %}</th>
        <th scope="col"> {% trans 'Fin' %}</th>
        <th scope="col"> {% trans 'DB' %}</th>
        <th scope="col"> {% trans 'Familia' %}</th>
        <th scope="col"> {% trans 'Término' %}</th>
        <th scope="col"> {% trans 'Nombre' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for feature in features %}
    <tr>
        <td>{{feature.start}}</td>
        <td>{{feature.end}}</td>
        <td>{{feature.db}}</td>
        <td>{{feature.fam}}</td>
        <td>{{feature.term}}</td>
        <td>{{feature.name}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}

{% trans 'No se cuenta con esta información' %}

{% endif %}


<hr class="col-3 col-md-2 mb-5"/>

<h2>{% trans 'Relaciones' %}</h2>
<div id="protein-sequence-viewer"></div>


<hr class="col-3 col-md-2 mb-5"/>
<h2>{% trans 'Relaciones' %}</h2>
<p>{% trans 'Datos relacionados con este recurso' %}</p>
<ul class="icon-list">
    <li>{% trans 'Tax' %}: {{assemblt.tax_id}}</li>
    <li>{% trans 'bioproyecto' %}: {{bioproject.id}}</li>
</ul>

<div id="viewport" style="height: 200px;width: 200px;background-color: white"></div>


<div id="msaDiv"></div>

{% endblock %}

{% block jsloaded %}

<script>
    function jsloaded() {

        var seq1 = new SeqView('MALWMRLLPLLALLALWGPDPAAAFVNQHLCGSHLVEALYLVCGERGFFYTPKTRREAEDLQVGQVELGGGPGAGSLQPLALEGSLQKRGIVEQCCTSICSLYQLENYCNMALWMRLLPLLALLALWGPDPAAAFVNQHLCGSHLVEALYLVCGERGFFYTPKTRREAEDLQVGQVELGGGPGAGSLQPLALEGSLQKRGIVEQCCTSICSLYQLENYCNMALWMRLLPLLALLALWGPDPAAAFVNQHLCGSHLVEALYLVCGERGFFYTPKTRREAEDLQVGQVELGGGPGAGSLQPLALEGSLQKRGIVEQCCTSICSLYQLENYCNMALWMRLLPLLALLALWGPDPAAAFVNQHLCGSHLVEALYLVCGERGFFYTPKTRREAEDLQVGQVELGGGPGAGSLQPLALEGSLQKRGIVEQCCTSICSLYQLENYCNMALWMRLLPLLALLALWGPDPAAAFVNQHLCGSHLVEALYLVCGERGFFYTPKTRREAEDLQVGQVELGGGPGAGSLQPLALEGSLQKRGIVEQCCTSICSLYQLENYCN');
        // You can add some rendering options
        seq1.render('#protein-sequence-viewer', {
            'showLineNumbers': true,
            'wrapAminoAcids': true,
            'charsPerLine': 50,
            'toolbar': true,
            'search': true,
            'title' : "Your title",
            'sequenceMaxHeight': "300px",
            'badge': true
        });

        //function called by "onclick"
        var onclickFun = function(e) {
            console.log("Region clicked");
        }

//Coverage list
        var exempleSequenceCoverage = [
            {start: 0, end: 25, color: "black", underscore: false, bgcolor: "#ffd891"},
            {start: 25, end: 47, color: "#ff0000", underscore: false, tooltip: "this is a tooltip"},
            {start: 47, end: 54, color: "#ff0000", underscore: true},
            {start: 54, end: 55, color: "#ff0000", underscore: false},
            {start: 55, end: 56, color: "black", underscore: false},
            {start: 56, end: 89, color: "#69CC33", underscore: false, onclick:onclickFun},
            {start: 89, end: 90, color: "black", underscore: false},
            {start: 90, end: 110, color: "#ff0000", underscore: false}
        ];



        seq1.coverage(exempleSequenceCoverage);
// for coverage + highlight :
// seq3.coverage(exempleSequenceCoverage, start, end, highlightColor);

//Define Legend and color codes
        var exempleLegend = [
            {name: "Mature Protein", color: "#ff0000", underscore: false},
            {name: "Proteotypic peptide", color: "#69CC33", underscore: false},
            {name: "Synthetic peptide",color: "#fff",underscore: true}
        ];
        seq1.addLegend(exempleLegend);



        //-----------------------------------------------------------------------

        //Create a new Feature Viewer and add some rendering options
        const seq3 ="FDSJKLFJDSFKLJDFHADJKLFHDSJKLFHDAFJKLDHFJKLDASFHDJKLFHDSAJKLFHDAKLFJDHSAFKLDLSNCDJKLFENFIUPERWDJKPCNVDFPIEHFDCFJDKOWFPDJWFKLXSJFDW9FIPUAENDCXAMSFNDUAFIDJFDLKSAFJDSAKFLJDSADJFDW9FIPUAENDCXAMSFNDAAAAAAAAAAAFJDSAKFL"
        var ft2 = new FeatureViewer.createFeature(seq3,"#div2", {
            showAxis: true,
            showSequence: true,
            brushActive: true,
            toolbar:true,
            bubbleHelp:true,
            zoomMax:10
        });

//Add some features
        ft2.addFeature({
            data: [{x:20,y:32},{x:46,y:100},{x:123,y:167}],
            name: "test feature 1",
            className: "test1",
            color: "#005572",
            type: "rect",
            filter: "type1"
        });
        ft2.addFeature({
            data: [{x:52,y:52},{x:92,y:92}],
            name: "test feature 2",
            className: "test2",
            color: "#006588",
            type: "rect",
            filter: "type2"
        });
        ft2.addFeature({
            data: [{x:130,y:184},{x:40,y:142},{x:80,y:110}],
            name: "test feature 3",
            className: "test3",
            color: "#eda64f",
            type: "path",
            filter: "type2"
        });
        ft2.addFeature({
            data: [{x:120,y:154},{x:21,y:163},{x:90,y:108},{x:10,y:25},{x:193,y:210},{x:78,y:85},{x:96,y:143},{x:14,y:65},{x:56,y:167}],
            name: "test feature 4",
            className: "test4",
            color: "#F4D4AD",
            type: "rect",
            height: 8,
            filter: "type1"
        });
        var dataDemo = [];
        for (var i=1;i<100;i++) {
            var count = Math.floor((Math.random() * 20) + 1);
            dataDemo.push({
                x: i*2,
                y:count
            })
        }
        ft2.addFeature({
            data: dataDemo,
            name: "test feature 5",
            className: "test5",
            color: "#008B8D",
            type: "line",
            filter: "type2",
            height: "5"
        });

//Beside positions of each element, you can also give a specific description, which will appears in the tooltip when mouse hover, and a specific ID, for example to link a click event on the feature with something else in your project.
        ft2.addFeature({
            data: [{x:120,y:154,description:"aaaaa",id:"a1"},{x:22,y:163,description:"bbbbb",id:"b1"},
                {x:90,y:108,description:"ccccc",id:"c1"},{x:10,y:25,description:"ddddd",id:"d1"},
                {x:193,y:210,description:"eeeee",id:"e1"},{x:78,y:85,description:"fffff",id:"f1"},
                {x:96,y:143,description:"ggggg",id:"g1"},{x:14,y:65,description:"hhhhh",id:"h1", color:"#12E09D"},
                {x:56,y:167,description:"jjjjj",id:"j1"}],
            name: "test feature 6",
            className: "test6",
            color: "#81BEAA",
            type: "rect",
            filter: "type2"
        });


        var stage = new NGL("viewport",{ backgroundColor: "grey" } );
        stage.loadFile("https://files.rcsb.org/view/5XH3.pdb", { ext: "pdb",defaultRepresentation: true});


        const opts = {};
        opts.el = '#msaDiv';
        //opts.importURL = "https://www.ebi.ac.uk/Tools/services/rest/mafft/result/mafft-I20230125-195028-0399-51473931-p1m/aln-fasta";
        opts.vis = {

            labelId: false,
            conserv: true,
            overviewbox: false,
            seqlogo: true,
        };
        opts.zoomer = {
            boxRectHeight: 1,
            boxRectWidth: 1,
            labelNameLength: 230,
            alignmentHeight: window.innerHeight * 0.8,
            labelFontsize: 12,
            labelIdLength: 50,
            leftOffset: 204
        };


        Fasta.read('https://www.ebi.ac.uk/Tools/services/rest/mafft/result/mafft-I20230125-195028-0399-51473931-p1m/aln-fasta',
            function (err, seqs) {

            /*seqs.forEach(seq => {
                seq.id = seq.name;
                seq.name = tree_data[seq.id + "__"].organism;
            });*/
            opts.seqs = seqs;
                delete Array.prototype.at;
                const m = msa(opts);
            m.render();
            //const m = msa(opts);
            //$('#msaDiv').data(m);
            //m.seqs.reset(seqs);

        });

    }
$(document).ready(jsloaded)
    //document.addEventListener("load", jsloaded);


</script>
{% endblock %}

{% block footer %}
{% endblock %}